<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Timesheet">
           
          <button (click)="open(content)" class="my-submit-button"  >My Timesheet</button> 
            <table class="table" >
                <thead>
                  <tr>
                    <th>Employee Name</th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Company Project</th>
                    <th>ProjectName</th>
                    <th>Description</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of people | slice:(page-1)*pageSize: page*pageSize; let i = index ">
                    <td>{{person.employeeName}}</td>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.companyProject }}</td>
                    <td>{{person.projectName}}</td>
                    <td>{{ person.email }}</td>
                    <td>
                        <button type="button" class="btn btn-success">Accept</button>
                        <button type="button" class="btn btn-danger">Reject</button>
                      </td>
                  </tr>
                </tbody>
              </table>
              <!-- <ngb-pagination [collectionSize]="people.length" 
              [(page)]="table.activePage" [pageSize]="table.pageSize"></ngb-pagination> -->
              <pagination-controls [(ngModel)]="page" [itemsPerPage]="pageSize" class="my-pagination"></pagination-controls>
              <!-- <div class="mt-3">
                <ngb-pagination
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="collectionSize"
                  [maxSize]="5"
                  [boundaryLinks]="true"
                  [ellipses]="false"
                  (pageChange)="updatePagination()"
                ></ngb-pagination>
              </div>  -->
           
        </app-card>

</div>
</div>

